.hangman h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4aaaa5;
	padding: 15px 0 5px 1px;
	color: #ffffff;
	bottom: 0;
	text-align: center; 
	line-height: 20px;
}

#description {
	font-size: 15px;
	font-weight: none;
}

.hangman {
	background: #ffffff url(../images/transport-q-g-640-480-9.jpg) top left no-repeat;
	width: 256px;
	height: 190px;
	float: left;
	margin-right: 37px;
	margin-left: 30px;
}

.hangman a {
	margin-bottom: 0px;
	padding-bottom: 0;
}


.hangman h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	color: white;
	text-align: center; 
	line-height: 30px;
}

.portfolio a {
	text-decoration: none;
}


.FriendFinder {
	background: #ffffff url(../images/cool_dude_pals_by_mighty355-d76l7r9.png) top left no-repeat;
	width: 256px;
	height: 190px;
	float: left;
	margin-left: 20px;
}

.FriendFinder h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #4aaaa5;
	padding: 15px 0 5px 15px;
	color: #ffffff;
	bottom: 0;
	text-align: center; 
	line-height: 20px;
}


.FriendFinder h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	color: black;
	text-align: center; 
	line-height: 30px;
}

.triviagame {
	background: #ffffff url(../images/abstract-q-c-640-480-10.jpg) top left no-repeat;
	width: 256px;
	height: 190px;
	float: left;
	margin: 37px 30px 30px 30px;
}

.triviagame h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #4aaaa5;
	padding: 15px 0 5px 15px;
	color: #ffffff;
	bottom: 0;
	text-align: center; 
	line-height: 20px;
}

.TriviaGame h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	color: black;
	text-align: center; 
	line-height: 30px;
}

.burger {
	background: #ffffff url(../images/food-q-g-640-480-9.jpg) top left no-repeat;
	width: 256px;
	height: 190px;
	float: left;
	margin: 37px 30px 30px 30px;
}

.burger h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #4aaaa5;
	padding: 15px 0 5px 15px;
	color: #ffffff;
	bottom: 0;
	text-align: center; 
	line-height: 20px;
}

.burger h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	color: black;
	text-align: center; 
	line-height: 30px;
}

.rockpaper {
	background: #ffffff url(../images/dog.jpg) top left no-repeat;
	width: 256px;
	height: 190px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

.rockpaper h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #4aaaa5;
	padding: 15px 0 5px 15px;
	color: #ffffff;
	bottom: 0;
	text-align: center; 
	line-height: 15px;
}



@media screen and (max-width: 980px) and (min-width: 641px){

	.hangman {
		clear: both;
		width: 91%;
		padding: 0px 0px;
		margin-left: 3px;
	}

	.hangman h5 {
		width: 100%;
	}

	.FriendFinder {
		clear: none;
		width: 91%;
		margin-top: 20px;
		margin-left: 3px;
		padding: 0px 0px;
	}

	.FriendFinder h5 {
		width: 98%;
	}


	.triviagame {
		clear: both;
		width: 91%;
		margin-top: 20px;
		margin-left: 5px;
		margin-bottom: 0px;
		padding: 0px 0px;
	}

	.triviagame h5 {
		width: 97%;
	}

	.burger {
		clear: both;
		width: 91%;
		margin-top: 20px;
		margin-left: 5px;
		margin-bottom: 0px;
		padding: 0px 0px
	}

	.burger h5 {
		width: 97%;
	}

	.rockpaper {
		clear: both;
		width: 91%;
		margin-top: 20px;
		margin-left: 5px;
		padding: 0px 0px;
	}

	.rockpaper h5 {
		width: 97%;
	}
}

@media screen and (max-width: 640px) {

	.hangman {
		clear: both;
		width: 100%;
		padding: 0px 0px;
		margin: 0 auto;
	}

	.hangman h5 {
		width: 100%;
	}

	.FriendFinder {
		clear: none;
		width: 100%;
		margin-top: 20px;
		margin-left: 1px;
		margin-right: 2px;
		padding: 0px 0px;
	}

	.FriendFinder h5 {
		width: 96%;
	}

	.triviagame {
		clear: both;
		width: 100%;
		margin-top: 20px;
		margin-left: 1px;
		margin-bottom: 0px;
		margin-right: 2px;
		padding: 0px 0px;
	}

	.triviagame h5 {
		width: 96%;
	}

	.burger {
		clear: both;
		width: 100%;
		margin-top: 20px;
		margin-left: 1px;
		margin-bottom: 0px;
		padding: 0px 0px
		margin-right: 2px;
	}

	.burger h5 {
		width: 96%;
	}

	.rockpaper {
		clear: both;
		width: 100%;
		margin-top: 20px;
		margin-left: 1px;
		padding: 0px 0px;
	}

	.rockpaper h5 {
		width: 96%;
	}

}
